*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.login-page{
    width:90%;
    max-width:470px;
    margin: 100px auto 0px;
    background-color: rgb(144, 208, 239);
    color: whitesmoke;
    border-radius: 20px;
    border: radius 100px;
    padding:40px 35px;
    text-align:center; 
}
.logo img{
    border-radius: 50%;
    margin-bottom: 20px;
    height: 100px;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.details input{
    border:0;
    outline:0;
    background: whitesmoke;
    color: #555;
    padding: 20px 20px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin :10px;
    font-size:18px;
}
.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
  padding: 10px;
  padding-right: 20px 35px;
  height: 60px;
  margin: 10px;
  margin: 10px;
}

.password-box img {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#signin {
    margin-top: 20px;
    text-decoration: none;
    border-radius: 20px;
    padding: 15px 20px ;
    background: linear-gradient(135deg, #4760e0, #39c0f1);
}
#signin:disabled {
  background: gray;
  cursor: not-allowed;
  opacity: 0.6;
  color: black;
}
